.card {
  width: 200px;
  background-color: var(--MAIN-COLOUR);
  border-radius: 1.5em;
  padding: 1em;
  text-align: center;
  box-shadow: 2px 3px 5px 0px var(--TEXT-LIGHT);
  text-wrap: wrap;
}

.flag__container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 5px 0px var(--TEXT-LIGHT);
}

.card__flag {
  width: 100%;
}
