.menu {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.button-section {
  text-align: center;
  margin-bottom: 2em;
}

.button-header {
  font-size: 1.5rem;
}

.button-container,
.start-button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.start-button-container {
  margin-top: 2em !important;
}
